:root {
  /* font */
  --main-font-famaly: "Roboto", sans-serif;
  --main-font-size: 14px;

  /* Text color */
  --main-txt-color: #212121;
  --secondary-txt-color: #757575;
  --light-txt-color: #ffffff;
  --accent-txt-color: #2196f3;

  /* BG calor */
  --secondary-bg-color: #2f303a;
  --accent-bg-color: #2196f3;
}
body {
  font-family: var(--main-font-famaly);
  font-size: var(--main-font-size);
  color: var(--main-txt-color);
  letter-spacing: 0.03em;
}
/*  Оформление  header */

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.accent-logo {
  color: var(--accent-txt-color);
}
.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-address {
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary-txt-color);
}
.link.current {
  color: var(--accent-txt-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.link-address:hover,
.link-address:focus {
  color: var(--accent-txt-color);
}

/* Оформление  footer */
.footer {
  background-color: var(--secondary-bg-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--light-txt-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.list-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: normal;
}

.address-footer {
  text-decoration: none;
  color: var(--light-txt-color);
  line-height: 1.71;
}

.list-footer .link-adress {
  text-decoration: none;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.list-footer .link-adress:hover,
.list-footer .link-adress:focus,
.address-footer:hover,
.address-footer:focus {
  color: var(--accent-txt-color);
}

/* Секция hero */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  color: var(--light-txt-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-btn {
  color: var(--light-txt-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  background-color: var(--accent-bg-color);
}
/* секция Наші особливості */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title-qualities {
  line-height: 1.14;
  text-transform: uppercase;
}

.text-qualities {
  color: var(--secondary-txt-color);
  line-height: 1.71px;
}
/* Чим ми займаємося */
.title-work,
.title-team {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* наша команда */
.section-team {
  background-color: #f5f4fa;
}
.card-team {
  background-color: #ffffff;
  width: 270px;
  height: 368px;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-txt-color);
  text-align: center;
}

/* Портфолио */

.btn {
  background: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: #212121;
  cursor: pointer;
}

.btn:hover {
  color: var(--light-txt-color);
  background-color: var(--accent-bg-color);
}

.card-potfolio {
  background: #ffffff;
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
}

.title-card {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.subtitle-card {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-txt-color);
}
